@import url('RobotoMono.ttf');
:root {
    --h1-font-size: 4vw; 
    --main-color: #ff00fb;
    --main-gradient: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    --starting-page-background: rgba(148, 187, 233, 1);
    --p-font-size: 2vh;
    --button-p-font-size: 4.5vh; 

}   
html {
    font-family: "Outfit", sans-serif;
}
h1 {
    font-size: var(--h1-font-size);
}
.title {
    position: relative;
    top: -10vh;
    text-shadow:
    1px 1px 0 black,  
    -1px 1px 0 black, 
    1px -1px 0 black, 
    -1px -1px 0 black;

}
.settings {
    display: none;
}
body {
    background: var(--starting-page-background);
    color: var(--main-color);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: var(--p-font-size);
}
@keyframes onload {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.96;
    }
}
.start{
    background-color: #D2A0EB;
    border: 3px solid #000;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 3px;
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top:15vh;
    left:15vw;
    position: absolute;
    animation: onload 0.5s linear 0s 1 forwards;
}
.button-cont {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 2vw;
}
.start button {
    width: 20vw; 
    height: 8vh; 
    background-color: #AB9AEA;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    animation: afthover 0.2s linear 0s 1 forwards;
    border: #000 3px solid;
    border-radius: 6px;
}
.start button p {
    font-size: var(--button-p-font-size); 
    margin: 0; 
    padding: 0; 
    line-height: 1; 
    color: #333;
}
@keyframes onhover {
    from {background-color: #AB9AEA;}   
    to {background-color: #7860D1;} 
}
@keyframes afthover {
    from {background-color: #7860D1;} 
    to {background-color: #AB9AEA;}   
}
button:hover {
    animation: onhover 0.2s linear 0s 1 forwards;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
